<div *ngIf="user">
  <p *ngIf="error" class="watning">{{error}}</p>
  <form
      class="card"
      [formGroup]="form"
      (ngSubmit)="submit()"
  >
      <div class="header">
          <button routerLink="/admin/users" class="btn btn-link">
              Back to all users
          </button>
          <h2>Change password</h2>
      </div>
      <div class="form-control">
          <label>Email</label>
          <input
            class="form-control"
            type="text"
            formControlName="email"
            [disabled]="true"
          >
      </div>
      <div class="form-control">
        <label>Username</label>
        <input
          type="text"
          formControlName="username"
          [disabled]="true"
        >

      </div>
      <div class="form-control">
        <label>Old Password</label>
        <input class="form-control" type="text" formControlName="oldPassword">
        <div class="validation" *ngIf="form.get('oldPassword').touched && form.get('oldPassword').invalid">
          <small *ngIf="form.get('oldPassword').errors.required">Old password is a required field</small>
        </div>
      </div>
      <div class="form-control">
        <label>New password</label>
        <input class="form-control" type="text" formControlName="newPassword">
        <div class="validation" *ngIf="form.get('newPassword').touched && form.get('newPassword').invalid">
          <small *ngIf="form.get('newPassword').errors.required">New password is a required field</small>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">
          Change password
      </button>
  </form>

  </div>
