<app-alert></app-alert>
<nav class="navbar bg-primary">
  <h3>Admin</h3>
  <!-- <ul> *ngIf="auth.isAuthenticated()"> -->
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['chats']">Chats</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['chat', 'create']">Create a chat</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['users']">Users</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['user', 'create']">Create a user</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['roles']">Roles</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['role', 'create']">Create a role</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['account']"><i>My account</i></a>
    </li>
    <li>
      <a (click)="auth.logout()" routerLink="/">Logout</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
